body{
    margin: 2px;
    padding: 20px;
    background: radial-gradient(rgb(165, 164, 162),rgb(225, 250, 3));
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif


}

.portfolio{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:rgb(49, 41, 28);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    border: 10px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;

}

.présentations{
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:blanchedalmond;
    font-family:cursive;
    text-align: center;
    border: 5px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;

}

.présentation{
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:rgb(14, 13, 13);
    font-family:serif;
    text-align:center;
    border: 5px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;

}

.h3{
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:blanchedalmond;
    font-family:serif;
    text-align:center;
    border: 5px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;
    
    }

.monparcours{
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:blanchedalmond;
    font-family:serif;
    text-align:center;
    border: 5px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;


}

.parcoursperso{
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:rgb(17, 16, 15);
    font-family:serif;
    text-align:center;
    border: 5px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;

}

.parcourssoc{
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:rgb(27, 26, 24);
    font-family:serif;
    text-align:center;
    border: 5px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;

}

.parcourspro{
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:rgb(15, 15, 15);
    font-family:serif;
    text-align:center;
    border: 5px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;

}

.mestravaux{

    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:blanchedalmond;
    font-family:cursive;
    text-align:center;
    border: 5px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;

}

.travaux{

    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:rgb(10, 10, 10);
    font-family:serif;
    text-align:center;
    border: 5px ridge rgb(179, 184, 184);
    margin: 20px;
    padding: 20px;

}


